<div class="card">
  <div class="card-header">
    Pesquisa de termos
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="termobusca"> Termo de busca </label>
        <input type="text" class="form-control" name="termobusca" [(ngModel)]="termoBusca">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="pesquisar()"> Pesquisar </button>
        <button class="btn btn-secondary" (click)="limparCampos()"> Limpar </button>
      </div>
      <div *ngIf="totalEncontrados >= 0">
        Foram encontrados {{totalEncontrados}} documentos.
        Os 10 primeiros são:
        <ul>
          <li *ngFor="let hit of listaResultado"> 
            Id mensagem = {{hit.mensagemId}}, Score = {{hit.score}}, Id = {{hit.id}} 
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>