<div class="card">
  <div class="card-header">
    Upload de arquivos
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="upload"> Arquivo upload </label>
        <input type="file" class="form-control-file" name="upload" (change)="lerArquivo($event)" value="$event.files" accept=".pdf" [(ngModel)]="inputArquivo">
      </div>
      <div class="form-group">
        <label for="quantidade"> Quantidade de vezes que o arquivo será indexado: </label>
        <input type="number" class="form-control" name="quantidade" [(ngModel)]="quantidadeArquivo" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="uploadArquivo()"> Upload Arquivo </button>
      </div>
      <div>
        <p> {{ resposta }} </p>
      </div>
    </form>
  </div>
</div>